.modal {
    background-color: rgba(130, 189, 238, 0.9);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 50;
    padding: 0 10px;
    border-radius: 20px;
  }
  
  .btnClose {
    position: absolute;
    top: 5%;
    right: 5%;
    border: none;
    background-color: transparent;
    font-size: 18px;
  }
  
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
  }
  
  .modalTitle {
    text-align: center;
    font-size: 32px;
    text-shadow: 2px 2px 4px rgba(229, 229, 224, 1);
  }
  
  .contentBox {
    display: flex;
    justify-content: center;
    gap: 15px;
  }
  
  .btn {
    width: 100px;
    padding: 5px 0;
    border-radius: 12px;
    border: none;
    font-size: 16px;
    text-transform: uppercase;
  }