.box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 14px;
}
.link{
    color: rgb(130, 204, 238);
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.01em;
    font-size: 22px;
    padding: 20px 30px;
}

.isActive {
    color: #fef5f7;
    background-color:rgb(130, 204, 238);
  }